# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"
TELEGRAM_BOT_TOKEN="telegram bot token u can get it form FatherBot"
TELEGRAM_BOT_USERNAME="your bot username"
